@font-face{
	font-family: "Letterblocks";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Letterblocks.ttf") format("truetype");
		
}

@font-face{
	font-family: "Diagon";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/Diagon.otf") format("opentype");
	
}